<h1 class="title">  <%= @contributor.name %> </h1>
<div class="delete_contributor">
  <% if admin_logged_in? %>
    <%= link_to "Delete", delete_contributor_path(@contributor.id), method: "delete" %>
  <% end %>
</div>

<h1 class="title">  Photos </h1>
[TODO]
<h1 class="title">  Tags </h1>
[TODO]
<h1 class="title">  Posts </h1>
[TODO]
