@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  margin-top: 60px;
  background-color: #f5fafa;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a {
  color: #343e41;
}

a:hover {
  color: #c1dad6;
  text-decoration: none;
}

.center {
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.title {
  color: #c1dad6;
}

.thumb {
  width: 120px;
  height: 120px;
}

.miniature {
  @extend .thumb;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
}

.list-photo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-tag {
  font-size: 25px;
}

.tag-box {
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  background-color: #c1dad6;
  border-radius: 20%;
}

.tag-box:hover {
  background-color: transparent;
}

.miniature:hover{
  opacity: 0.3;
}

/* header */

.dropdown {
  cursor: pointer;
}

.header-container {
  position: fixed;
  margin-top: -60px;
  height: 52px;
  width: 100%;
  background-color: #f5fafa;
  opacity: 0.9;
  border-bottom: solid 2px;
  border-color: #c1dad6;
}

.header-content-container {
  margin-left: 2%;
  margin-right: 2%;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

/* footer */

.development-info {
  margin-right: 20px;
  margin-top: 15px;
  float: right;
}

.footer-container {
  margin-top: 60px;
  border-top: solid 2px;
  height: 50px;
  width: 100%;
  border-color: #c1dad6;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* home */

.about-container {
  font-size: 20px;
}

/* smartphone */
@media screen and (max-width: 1000px) {
  .thumb {
    width: 200px;
    height: 200px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
