.tag {
  background-color: #c1dad6;
  border-radius: 20%;
  color: #343e41;
}

.tag:hover {
  color: #c1dad6;
  background-color: transparent;
}

.small-tag {
  margin: 1px;
  font-size: 15px;
}

.big-tag {
  margin: 3px;
  font-size: 25px;
}


/* smartphone */
@media screen and (max-width: 1000px) {
  .big-tag {
    margin: 5px;
    font-size: 70px;
  }

  .small-tag {
    margin: 3px;
    font-size: 25px;
  }
}
